extends layout

block content

  each key ,i in json
    each contributor in key.contributors
      if i % 4 === 0
        .row

      .col-lg-3.col-sm-6
        .card.hovercard
          .avatar
            img(src=  key.thumbnailUrl)
          .info
           .title
            td <b>Title</b> : #{key.title}
           p <b>Medium</b> : #{key.medium}
           p <b>Dimensions</b>: #{key.width}#{key.units} x #{key.height}#{key.units}
          .desc
            p <b>Artist</b>:
             a(href='/artists/' + contributor.id) #{contributor.fc}
